# Configuración del Bot de Notificaciones
# Crea un bot en Telegram con @BotFather para obtener el token
TELEGRAM_TOKEN=tu_token_secreto_aqui
# Tu ID de usuario (puedes obtenerlo con el bot @userinfobot)
TELEGRAM_CHAT_ID=123456789

# Configuración del Motor de Búsqueda
# Regístrate en SerpApi.com para obtener tu clave (Google Flights Engine)
SERPAPI_KEY=tu_api_key_de_serpapi_aqui
